[Desktop Entry]
Type=Application
Version=0.4
Name=GAVA-G visualizer
Comment=Audio spectrum visualizer for Windows/macOS/Linux/BSD
Exec=gava
Icon=gava
Terminal=false
Categories=Audio;

