[submodule "lib/iniparser"]
	path = lib/iniparser
	url = https://github.com/ndevilla/iniparser
[submodule "lib/x-watcher"]
	path = lib/x-watcher
	url = https://github.com/nikp123/x-watcher
[submodule "lib/kiss-mpris-properties"]
	path = lib/kiss-mpris-properties
	url = https://github.com/nikp123/kiss-mpris-properties
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/mingw-bundledlls"]
	path = thirdparty/mingw-bundledlls
	url = https://github.com/rockfordroeNG/mingw-bundledlls/
