build*/
!build.cmake
*.files
*.includes
*.user
*.config
CMakeLists.txt.*
compile_commands.json
Debug/
.cache/
.vimspector.json

# Exclude nix stuff
.direnv
result
xava

# Just some random patches I keep around
# Usually some experiments gone wrong, I guess
*.patch

!src/output/graphical_wayland/gen/.gitignore

