[Desktop Entry]
Type=Application
Version=0.6.2
Name=XAVA
Comment=Audio spectrum visualizer for Windows/macOS/Linux/BSD
Exec=xava
Icon=hdspmixer
Terminal=false
Categories=Audio;

