[Desktop Entry]
Type=Application
Version=@xava_VERSION_MAJOR@.@xava_VERSION_MINOR@.@xava_VERSION_PATCH@.@xava_VERSION_TWEAK@
Name=XAVA
Comment=Audio spectrum visualizer for Windows/macOS/Linux/BSD
Exec=xava
Icon=hdspmixer
Terminal=false
Categories=Audio;

